.matriz-comparacion
  display grid
  grid-template-columns 100px 1fr
  grid-gap 10px

.botonera
  grid-column 1
  grid-row 1

.sticky
  position sticky
  top 0
  left 0

[auto-codigo=auto0].nombre-autonomia
  top 0
  bottom 100px
[auto-codigo=auto1].nombre-autonomia
  top 28px
  bottom 75px
[auto-codigo=auto2].nombre-autonomia
  top 56px
  bottom 50px
[auto-codigo=auto3].nombre-autonomia
  top 84px
  bottom 25px
[auto-codigo=auto5].nombre-autonomia
  top 112px
  bottom 0px

th.jurisdiccion
  width 52px

.jurisdiccion-nombre
  font-size 10px
  font-weight normal

.nombre-autonomia
  position sticky
  top 0
  font-size 22px
  padding-left 12px

.nombre-dimension
  font-size 16px
  weight bold
  padding-left 48px

.nombre-indicador
  font-size 14px
  padding-left 96px

.boton-autonomia
  display block
  margin 8px

.la-lista
  grid-column 2
  grid-row 1
  td
    min-height 28px
    height 28px
