.matriz-comparacion
  display grid
  grid-template-columns 100px 1fr
  grid-gap 10px

.botonera
  grid-column 1
  grid-row 1

.sticky
  position sticky
  top 0
  left 0

.nombre-autonomia
  font-size 28px

.titulo-dimension
  font-size 24px
  margin 6px
  margin-left 36px

.boton-autonomia
  display block
  margin 8px

.la-lista
  grid-column 2
  grid-row 1
